.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    font-size: x-large;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

nav{
    width: 100%;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 3rem;
    margin: 0;
    padding: 0;
}

.name{
    color: slategrey;
    text-decoration: none;
    font-weight: bold;
    margin-right: auto;
}

.nav-links a{
    color: slategrey;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links a:hover{
    color: aliceblue;
}
